.container {
    width: 1280px;
    margin: 0 auto;
}

.page-header-link {
    font-family: Roboto;
    font-weight: 400;
    font-size: 80px;
    line-height: 94px;
    text-decoration: none;
    color: black;
}

.page-header-navigation {
    background-color: #35444F;
    margin-top: 40px;
}

.page-header-menu {
    width: 1280px;
    display: flex;
    justify-content: center;
}

.page-header-menu-item {
    padding-top: 24px;
    padding-bottom: 18px;
    border-right: 1px solid #ffffff;
    border-left: 1px solid #ffffff;
    padding-right: 40px;
    padding-left: 40px;
}

.page-header-menu-link {
    font-family: Roboto;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #ffffff;
    text-decoration: none;

}

.page-aside-navigation {
    width: 344px;
    height: 399px;
    border: 1px solid #000000;
}

.page-aside-menu {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.page-aside-menu-item {
    padding-top: 26px;
    padding-bottom: 25px;
    padding-left: 44px;
}

.page-aside-menu-link {
    font-family: Roboto;
    font-weight: 400;
    font-size: 27px;
    line-height: 27px;
    color: #485863;
    text-decoration: none;
}

.page-body {
    margin-top: 49px;
    display: flex;
}

.page-body-container {
    border: 1px solid #000000;
    width: 885px;
    height: 529px;
    margin-left: 52px;
    display: flex;
    justify-content: center;
}

.main-body-img {
    width: 320px;
    height: 381px;
    padding-top: 75px;
}

.page-body-text {
    margin-top: 38px;
    margin-left: 397px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
}

.page-footer-navigation {
    background-color: rgba(99, 105, 110, 0.48);
    margin-top: 54px;
}

.page-footer-menu {
    width: 1280px;
    display: flex;
    justify-content: left;
}

.page-footer-menu-item {
    padding-top: 20px;
    padding-bottom: 21px;
    padding-left: 40px;
}

.page-footer-menu-link {
    font-family: Roboto;
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    color: #0C1927;
    text-decoration: none;
}

.page-footer-text {
    font-family: Roboto;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: #010101;
    align-self: center;
    padding-left: 95px;
    padding-top: 20px;
    padding-bottom: 21px;
}